:root {
  --text-indent: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #2e2f42;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/* GENEL KAPSAYICI */
.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

/* HEADER */
.page-header {
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  padding: 16px 0;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.page-header a {
  color: #2e2f42;
  text-decoration: none;
  line-height: 1.1;
  align-items: center;
  display: flex;
}

.page-header a:hover {
  color: #404bbf;
}

/* HAMBURGER MENU - Mobile */
.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: right 0.3s ease;
  z-index: 999;
}
/* Checkbox aktif olunca mobilden MENÜ AÇILSIN */
#mobile-menu-toggle:checked ~ main .mobile-nav {
  right: 0;
  opacity: 1;
  pointer-events: auto;
}
/* Mobil menü genel alanı */
.mobile-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 40px 24px;
  align-items: flex-start;
}
.ul1 {
  list-style: none;
  padding: 0;
  margin: 40px 0 60px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.ul1,
.ul2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ul1 li a {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  text-decoration: none;
}

.ul1 li a {
  color: #2e2f42; /* Normal renk */
  text-decoration: none;
  transition: color 0.2s ease;
}

.ul1 li a:hover {
  color: #4d5ae5;
}

.ul1 li:first-child a {
  color: #2e2f42;
}

.ul1 li:first-child a:hover {
  color: #404bbf;
}
.ul2 li a {
  color: #2e2f42;
  text-decoration: none;
  transition: color 0.2s ease;
}

.ul2 li a:hover {
  color: #4d5ae5;
}
.ul2 {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.socials {
  margin-top: auto;
  display: flex;
  gap: 24px;
}

.socials a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
}
/* Menü butonu (hamburger) sadece mobile görünsün) */
.menu-button {
  display: none;
  cursor: pointer;
}

/* Close butonu */
.close-button {
  align-self: flex-end;
  cursor: pointer;
}

/* Desktop görünümü */
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .menu-button {
    display: none;
  }
}

/* Mobile görünümü */
@media (max-width: 767px) {
  .nav-links,
  .contact-links {
    display: none;
  }

  .menu-button {
    display: flex;
  }
}

.icon-group {
  width: 24px;
  height: 24px;
  fill: #2e2f42;
}

/* MENÜ - Desktop başta gizli */
.page-nav {
  display: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  margin: 0;
  gap: 40px;
}

.page-nav a {
  position: relative;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}
.page-nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: #4d5ae5;
  border-radius: 2px;
}
.page-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #4d5ae5;
  transition: width 0.3s ease;
}

.page-nav a:hover::after {
  width: 100%;
}

address {
  font-style: normal;
}

/* CONTACTS - Desktop başta gizli */
.page-mail {
  display: none;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  list-style: none;
  color: #2e2f42;
  gap: 40px;
}

.page-mail a {
  color: #2e2f42;
  text-decoration: none;
  position: relative;
}

.page-mail a:hover {
  color: #404bbf;
}

/* LOGO */
.logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
}

.page-header .logo .web {
  display: flex;
  justify-content: center;
  color: #4d5ae5;
}

.page-header .logo .studio {
  color: #2e2f42;
  align-items: center;
}

footer .logo .web {
  display: flex;
  align-items: center;
  color: #4d5ae5;
}

footer .logo .studio {
  color: #f4f4fd;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #ffffff;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

/* HERO SECTION - Mobile First */
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.hero:hover::after {
  opacity: 1;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 72px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: #404bbf;
}

/* FEATURES SECTION - Mobile First */
.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 64px;
  height: 64px;
}

.icons {
  display: none;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  justify-content: center;
  align-items: center;
}

.features-section {
  padding: 96px 0;
}

.features-section ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-section .item {
  width: 100%;
}

.features-section h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}

.features-section p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* OUR TEAM - Mobile First */
section.ourteam {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.ourteam h2 {
  text-align: center;
  margin-bottom: 72px;
}

.ourteam-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.ourteam-list .item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.ourteam-list .info {
  padding: 32px 16px;
  text-align: center;
}

.ourteam-list .info h3 {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  margin: 0 0 8px 0;
}

.icon-instagram,
.icon-twitter,
.icon-facebooksvg,
.icon-linkedin {
  width: 16px;
  height: 16px;
}

.socials {
  display: flex;
  gap: 24px;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.socials :hover,
.socials :focus {
  background-color: #31d0aa;
}

.socials-icon {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon:hover {
  background-color: #31d0aa;
}

/* PORTFOLIO - Mobile First */
.portfolio {
  padding: 96px 0;
}

.portfolio .container {
  max-width: 100%;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 48px;
  padding: 0;
  margin: 0;
}

.portfolio-item {
  width: 100%;
  max-width: 360px;
  background: #fff;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}

.overlay-item {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

/* FOOTER - Mobile First */
footer {
  background-color: #2e2f42;
  color: #e7e9fc;
  padding: 96px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  text-align: center;
}

.footer-info {
  width: 100%;
  max-width: 288px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f4fd;
  padding-top: 16px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.social-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #ffffff;
}

.social-icon {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.social-icon a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon a:hover {
  background-color: #31d0aa;
}

/* SUBSCRIBE SECTION */
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  border-radius: 4px;
}

.subscribe-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.email-form input[type="email"] {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 12px;
  height: 40px;
  width: 100%;
  max-width: 288px;
  box-sizing: border-box;
  justify-content: center;
}

.email-form input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.icon-Frame {
  width: 24px;
  height: 20px;
  margin-left: 8px;
}

.subscribe-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0 24px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  gap: 16px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover {
  background-color: #404bbf;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 999;
}

.is-open {
  display: flex;
}

.modal-content {
  position: relative;
  background-color: #fcfcfc;
  padding: 72px 16px 24px;
  border-radius: 4px;
  width: 95%;
  max-width: 408px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-black {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  background-color: #404bbf;
  border-color: #404bbf;
}

.close-button:hover .icon-close-black,
.close-button:focus .icon-close-black {
  fill: #ffffff;
}
.form label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.input-wrapper .icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper input {
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within input {
  border-color: #4d5ae5;
}

.input-wrapper:focus-within .icon {
  fill: #4d5ae5;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-bottom: 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus {
  border-color: #4d5ae5;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}

.checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.checkbox a {
  color: #4d5ae5;
  text-decoration: underline;
}

.send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover {
  background-color: #404bbf;
}

/* TABLET (768px - 1157px) */

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }

  /* HEADER TABLET */
  .page-header {
    padding: 0;
  }

  .page-header .container {
    padding: 0 16px;
  }

  nav {
    gap: 120px;
  }

  .menu-hamburger {
    display: none;
  }

  .page-nav {
    display: flex;
  }

  .page-mail {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .page-mail a {
    font-size: 12px;
    line-height: 1.17;
  }

  /* HERO TABLET */
  h1 {
    font-size: 56px;
    line-height: 1.07;
  }

  .hero {
    padding: 112px 0;
  }

  button {
    margin-top: 36px;
  }

  /* FEATURES TABLET */
  .features-section ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-section .item {
    width: calc((100% - 24px) / 2);
  }

  .features-section h3 {
    text-align: left;
  }

  /* OUR TEAM TABLET */
  .ourteam-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  /* PORTFOLIO TABLET */
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /* FOOTER TABLET */
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 0 108px;
    gap: 72px 24px;
  }

  .footer-info {
    max-width: 264px;
    align-items: flex-start;
  }

  .social-media {
    align-items: flex-start;
  }

  .subscribe {
    align-items: flex-start;
    width: auto;
  }

  .email-form {
    flex-direction: row;
    gap: 24px;
  }

  .email-form input[type="email"] {
    width: 264px;
  }

  .modal-content {
    padding: 72px 24px 24px;
    max-width: 408px;
  }
}

/* DESKTOP (1158px+) */

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  /* HEADER DESKTOP */
  .page-header {
    padding: 24px 0;
  }

  .page-mail {
    flex-direction: row;
    gap: 40px;
  }

  .page-mail a {
    font-size: 16px;
    line-height: 1.5;
  }

  /* HERO DESKTOP */
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }

  button {
    margin-top: 48px;
  }

  /* FEATURES DESKTOP */
  .icons {
    display: flex;
  }

  .features-section {
    padding: 120px 0;
  }

  .features-section ul {
    gap: 24px;
  }

  .features-section .item {
    width: calc((100% - 72px) / 4);
  }

  .features-section h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .features-section p {
    font-weight: 400;
  }

  /* OUR TEAM DESKTOP */
  section.ourteam {
    padding: 120px 0;
  }

  .ourteam-list {
    gap: 24px;
  }

  /* PORTFOLIO DESKTOP */
  .portfolio {
    padding: 120px 0;
  }

  .portfolio .container {
    max-width: 1128px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 72px) / 3);
  }

  /* FOOTER DESKTOP */
  footer {
    padding: 100px 0;
  }

  .footer .container {
    flex-wrap: nowrap;
    padding: 0 15px;
    gap: 0;
    justify-content: space-between;
  }

  .footer-info {
    margin-right: 120px;
  }

  .social-media {
    margin-right: auto;
  }

  .email-form {
    align-items: flex-end;
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office1.jpg");
  }
}
